MULTIPLI_API_KEY=

BINANCE_ACCOUNT_1_API_KEY=
BINANCE_ACCOUNT_1_API_SECRET=
BINANCE_ACCOUNT_2_API_KEY=
BINANCE_ACCOUNT_2_API_SECRET=
BINANCE_ACCOUNT_3_API_KEY=
BINANCE_ACCOUNT_3_API_SECRET=
BINANCE_ACCOUNT_4_API_KEY=
BINANCE_ACCOUNT_4_API_SECRET=

WALLET_ADDRESS=
WALLET_PRIVATE_KEY=

ETHEREUM_HTTP_PROVIDER=
BNB_HTTP_PROVIDER=
AVALANCHE_HTTP_PROVIDER=

STRATEGY=HYBRID

ENABLE_BSC_TO_PUSH_DATA=
ENABLE_AVALANCHE_TO_PUSH_DATA=
